* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
}
body hr {
  color: rgb(69, 208, 69);
  margin-top: 150px;
}

.content-container {
  flex: 1;
}

/* inicio da parte superior */
.top-container {
  margin: 0 auto;
  padding-bottom: 50px;
}
.top-container .top-bar {
  padding: 20px;
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: flex-end;
}
.top-container .top-bar a {
  transition: 0.3s;
  font-size: 15px;
  color: grey;
  text-decoration: none;
}
.top-container .top-bar a i {
  padding-left: 20px;
  color: rgb(69, 208, 69);
  font-size: 20px;
  padding-right: 20px;
}
.top-container .top-bar a:hover {
  color: rgb(69, 208, 69);
  transform: translateY(-4px);
}

.navnav {
  background-color: rgb(69, 208, 69);
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.navnav .dropdown {
  display: flex;
  padding-top: 60px;
}
.navnav .dropdown .ButaoProdutos {
  text-transform: capitalize;
  font-size: 15px;
  font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #45d045;
  color: #fff;
  border: none;
}
.navnav .dropdown .dropdown-toggle {
  background-color: rgb(69, 208, 69);
  border: none;
  transition: 0.5s;
}
.navnav .dropdown .dropdown-toggle:hover {
  opacity: 0.7;
}
.navnav .dropdown .dropdown-menu {
  background-color: white;
}
.navnav .dropdown .dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
}
.navnav .dropdown .dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}
.navnav .dropdown .dropdown-menu li a {
  color: rgb(69, 208, 69);
  text-transform: capitalize;
  font-size: 15px;
  font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navnav .dropdown .dropdown-menu li button {
  color: #45d045;
  text-transform: capitalize;
  font-size: 15px;
  font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.navnav .dropdown .dropdown-menu li:hover .dropdown-submenu {
  display: block;
}
.navnav a {
  padding: 3;
  margin: 4;
  font-size: 35px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  transition: 0.5s;
}
.navnav a h1 {
  padding: 20px;
  font-weight: bold;
}
.navnav a:hover {
  opacity: 0.6;
}
.navnav .nav-icon {
  color: white;
  font-size: 30px;
  padding-right: 40px;
  padding-left: 10;
  transition: 0.3s;
}
.navnav .nav-icon:hover {
  color: greenyellow;
}

/* fim da parte superior */
/*Inicio body*/
/* inicio loja produtos */
.container .row .col-md-3 .card .card-body {
  background-color: rgb(250, 250, 250);
}
.container .row .col-md-3 .card .card-body .card-title {
  color: rgb(69, 208, 69);
}
.container .row .col-md-3 .card .card-body form {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.container .row .col-md-3 .card .card-body form .quantidade {
  background-color: rgb(250, 250, 250);
  color: rgb(69, 208, 69);
  border-radius: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border: 1px solid rgb(69, 208, 69);
}
.container .row .col-md-3 .card .card-body form .add-to-cart {
  border: none;
  background-color: transparent;
  color: rgb(69, 208, 69);
  transition: 0.5s;
}
.container .row .col-md-3 .card .card-body form .add-to-cart:hover {
  transform: translateY(-4px);
  color: aqua;
  font-size: 20px;
}
.container .row .col-md-3 .card .card-body .card-price {
  color: rgb(69, 208, 69);
  font-size: 20px;
}

/* fim loja produtos */
/* inicio filter bar */
.container .shopform {
  color: rgb(69, 208, 69);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.container .shopform .categoria {
  border-color: rgb(69, 208, 69);
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(69, 208, 69);
  transition: 0.5s;
  margin-left: 15px;
  margin-right: 15px;
}
.container .shopform .categoria:focus {
  border: aqua 1px solid;
  outline: none;
  background-color: white;
}
.container .shopform .input {
  border-radius: 6px;
  border: 1px solid rgb(69, 208, 69);
  color: rgb(69, 208, 69);
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.5s;
}
.container .shopform .input:focus {
  outline: none;
  border: 1px solid aqua;
  color: rgb(69, 208, 69);
}
.container .shopform .filterbutton {
  margin-left: 15px;
  border: 1px solid rgb(69, 208, 69);
  background-color: rgb(69, 208, 69);
  border-radius: 5px;
  color: #fff;
}

/* fim filter bar */
@media (max-width: 550px) {
  .navnav {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
