<<<<<<< HEAD
* {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; }
  body hr {
    color: #45d045;
    margin-top: 150px; }

.content-container {
  flex: 1; }

/* inicio da parte superior */
.top-container {
  margin: 0 auto;
  padding-bottom: 50px; }
  .top-container .top-bar {
    padding: 20px;
    position: fixed;
    z-index: 1000;
    width: 100%;
    background-color: #fafafa;
    display: flex;
    justify-content: flex-end; }
    .top-container .top-bar a {
      transition: 0.3s;
      font-size: 15px;
      color: grey;
      text-decoration: none; }
      .top-container .top-bar a i {
        padding-left: 20px;
        color: #45d045;
        font-size: 20px;
        padding-right: 20px; }
    .top-container .top-bar a:hover {
      color: #45d045;
      transform: translateY(-4px); }

.navnav {
  background-color: #45d045;
  position: fixed;
  z-index: 1000;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }
  .navnav .dropdown {
    display: flex;
    padding-top: 60px; }
    .navnav .dropdown .ButaoProdutos {
      text-transform: capitalize;
      font-size: 15px;
      font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      background-color: #45d045;
      color: #fff;
      border: none; }
    .navnav .dropdown .dropdown-toggle {
      background-color: #45d045;
      border: none;
      transition: 0.5s; }
    .navnav .dropdown .dropdown-toggle:hover {
      opacity: 0.7; }
    .navnav .dropdown .dropdown-menu {
      background-color: white; }
      .navnav .dropdown .dropdown-menu .dropdown-submenu {
        display: none;
        position: absolute;
        left: 100%;
        top: -7px; }
      .navnav .dropdown .dropdown-menu .dropdown-submenu-left {
        right: 100%;
        left: auto; }
      .navnav .dropdown .dropdown-menu li a {
        color: #45d045;
        text-transform: capitalize;
        font-size: 15px;
        font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
      .navnav .dropdown .dropdown-menu li button {
        color: #45d045;
        text-transform: capitalize;
        font-size: 15px;
        font-style: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; }
      .navnav .dropdown .dropdown-menu li:hover .dropdown-submenu {
        display: block; }
  .navnav a {
    padding: 3;
    margin: 4;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.5s; }
    .navnav a h1 {
      padding: 20px;
      font-weight: bold; }
  .navnav a:hover {
    opacity: 0.6; }
  .navnav .nav-icon {
    color: white;
    font-size: 30px;
    padding-right: 40px;
    padding-left: 10;
    transition: 0.3s; }
  .navnav .nav-icon:hover {
    color: greenyellow; }

/* fim da parte superior */
=======
/*Fim navbar*/
>>>>>>> MasterRatao
/*Inicio body*/
.content-container .container .row .col-md-3 .product-top .overlay {
  display: flex;
<<<<<<< HEAD
  justify-content: center; }
=======
  justify-content: center;
}
#carouselExampleControls .cards-wrapper .card img {
  max-width: 20px;
  max-height: 100%;
}
#carouselExampleControls .cards-wrapper .card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
  border-radius: 0;
}
#carouselExampleControls .cards-wrapper .carousel-inner {
  padding: 1em;
}
#carouselExampleControls .cards-wrapper .carousel-control-prev,
#carouselExampleControls .cards-wrapper .carousel-control-next {
  background-color: #e1e1e1;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
>>>>>>> MasterRatao

@media (max-width: 550px) {
  .navnav {
    margin-top: 30px; } }
