* {
  margin: 0;
  padding: 0; }

/* inicio da parte superior */
.top-container {
  margin: 0 auto; }
  .top-container .top-bar {
    background-color: #fafafa;
    display: flex;
    justify-content: flex-end;
    padding: 10px; }
    .top-container .top-bar a {
      transition: 0.3s;
      font-size: 20px;
      color: grey;
      text-decoration: none; }
      .top-container .top-bar a i {
        padding-left: 20px;
        color: #45d045;
        font-size: 20px;
        padding-right: 20px; }
    .top-container .top-bar a:hover {
      color: #45d045;
      transform: translateY(-4px); }

.navbar {
  background-color: #45d045; }
  .navbar .nav-title a {
    padding: 3;
    margin: 4;
    font-size: 35px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.5s; }
    .navbar .nav-title a h1 {
      padding: 20px;
      font-weight: bold; }
  .navbar .nav-title a:hover {
    opacity: 0.6; }
  .navbar .nav-icons-container {
    display: flex; }
    .navbar .nav-icons-container .nav-icon {
      color: white;
      font-size: 30px;
      padding-right: 40px;
      padding-left: 10;
      transition: 0.3s; }
    .navbar .nav-icons-container .nav-icon:hover {
      color: greenyellow; }

/* fim da parte superior */
/* atendimento body style */
.atendimento-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center; }
  .atendimento-container .top-title {
    color: #45d045; }
  .atendimento-container .information-container {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .atendimento-container .information-container h4 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: larger; }
    .atendimento-container .information-container p {
      font-size: small; }
  .atendimento-container .atendimento-form-container .input {
    position: relative;
    width: 250px;
    margin-bottom: 20px; }
    .atendimento-container .atendimento-form-container .input .input-field {
      width: 100%;
      padding: 10px;
      border: 1px solid grey;
      background: white;
      border-radius: 5px;
      outline: none;
      color: #45d045; }
    .atendimento-container .atendimento-form-container .input .large-input-field {
      width: 100%;
      padding: 10px;
      border: 1px solid grey;
      background: white;
      border-radius: 5px;
      outline: none;
      color: #45d045;
      resize: vertical; }
