$primarycolor: #45d045;
$secondcolor: white;
$almostwhite: rgb(250, 250, 250);
$fontclean: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;
    hr {
        color: $primarycolor;
        margin-top: 150px;
    }
}
.content-container{
    flex: 1;
}

/* form centered inicio */
.form-container{
    margin-top: 150px;
    display: grid;
    justify-content: center;
    text-align: center;
    .form-centered{
        display: grid;
        justify-content: center;
        text-align: center;
    }
    .form-centered {
        .input-field{
            width: 100%;
            padding: 15px;
            border: none;
            border-radius: 4px;
            font: inherit;
            color: $primarycolor;
            background-color: transparent;
            border: 2px solid #d6d6d6; 
        }
        .input-label{
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(10px, 10px);
            transform-origin: left;
            transition: transform 0.25s; 
        }
        .input-field:focus-visible ~ .input-label, .input-field:valid ~ .input-label {
            transform: translate(0, -30px) scale(0.8);
            color: $primarycolor; 
        }
        .input-field:is(:focus-visible, :valid){
            outline-color: $primarycolor; 
        }
        .SubmitButton {
            background-color: $primarycolor;
            border: none;
            padding: 10px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 5px;
            width: 100%;
            transition: 0.5s; 
        }
        .SubmitButton:hover {
            opacity: 0.6; 
        }
        p {
            display: grid;
            text-align: center;
            justify-content: center;
        }
    }
}


/* form centered fim */


/* user view */

.fa-lock:hover{
    color: aqua;
    font-size: 30px;
}
/* user-cart inicio */


.cart-container{
    margin-top: 25vh;
    .cart-user-container{
        display: grid;
        justify-content: center;
        h1{
            padding-bottom: 2vh
        }
        .items{
            display: grid;
            justify-content: space-evenly;        
        }
    }
}


/* user-cart fim */




/* atendimento body style */
.atendimento-container {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 130px;
    
    .atendimento-text-container{
        grid-template-rows: auto, auto;
    }

    .top-title {
        color: $primarycolor;
        font-size: 45px;
    }

    .information-container {
        justify-content: center;
        margin: 30px;
        display: grid;
        text-align: center;
        h4 {
            font-family: $fontclean;
            font-size: larger;
        }

        p {
            font-size: medium;
        }
    }

    .atendimento-form-container {
        max-width: 100%;
        form {
            display: grid;
            justify-content: center;
            margin-top: 80px;
            p {
                margin-top: 25px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                i {
                    margin-left: 8px;
                    color: $primarycolor;
                }
                i:hover {
                    color: #299829;
                    transform: translateY(-2px);
                }
            }
            .input {
                position: relative;
                width: 300px;
                margin-bottom: 30px;
                
                .input-field {
                    width: 300px;
                    padding: 15px;
                    border-radius: 4px;
                    font: inherit;
                    color: $primarycolor;
                    background-color: transparent;
                    border: 2px solid #d6d6d6;
                    
                }    
                .input-label {
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform: translate(10px, 10px);
                    transform-origin: left;
                    transition: transform 0.25s;
    
                    span {
                        user-select: none;
                        -moz-user-select: none;
                        /* Firefox */
                        -ms-user-select: none;
                        /* Internet Explorer */
                        -webkit-user-select: none;
                        /* Safari */
                    }
                }
                .date-input-field{
                    width: 300px;
                    padding: 15px;
                    border: 2px solid #d6d6d6;
                    border-radius: 4px;
                    outline: none;
                    transition: 0.5s;
                }
                .date-input-field:focus{
                    outline: none;
                    border: 1px solid aqua;
                }
                .select-input{
                    width: 300px;
                    padding: 15px;
                    border: none;
                    outline: none;
                    transition: 0.5s;
                }
                .select-input:focus{
                    outline: none;
                    border: 2px solid aqua;
                }
                .check-box input[type="checkbox"] {
                    display: none;
                }
                .check-box label:before{
                    content: "";
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-color: grey;
                    border: 2px solid $primarycolor;
                    border-radius: 3px;
                    cursor: pointer;
                }
                .check-box input[type="checkbox"]:checked + label:before {
                    background-color: $primarycolor;  /* Cor de fundo quando marcado */
                    border: 2px solid $almostwhite;
    
                }
                }
                .input-field:focus-visible~.input-label,
                .input-field:valid~.input-label {
                    transform: translate(0, -30px) scale(0.8);
                    color: $primarycolor;
                }
                .input-field:is(:focus-visible, :valid) {
                    outline-color: $primarycolor;
                }
            }          
            .SubmitButton {
                background-color: $primarycolor;
                border: none;
                padding: 10px;
                text-decoration: none;
                cursor: pointer;
                border-radius: 5px;
                width: 100%;
                transition: 0.5s;
            }
            .SubmitButton:hover {
                opacity: 0.6;
            }
        }

        
}






@media (max-width: 540px){
    .atendimento-container{
        margin-top: 300px;
        .atendimento-form-container{
            margin-top: 10px;
        }
        .information-container{
            margin: 10px;
        }
    }
    .pedosite{
        margin-top: 0px;
        div{
            adrres{
                padding-left: 5px;
            }
        }
        div{
            margin: 3px;
        }
   }
}
@media (max-width: 912px){
    .form-container{
        max-width: 100%;
        margin-top: 350px;
    }

}
@media (max-width: 412px) {
    .input{
        max-width: 350px;
    }
    
    
}
@media (max-width: 400px) {
    .input{
        max-width: 100%;
        .input-field{
            max-width: 100%;
        }
    }
}