* {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw; }
  body hr {
    color: #45d045;
    margin-top: 150px; }

.content-container {
  flex: 1; }

/* form centered inicio */
.form-container {
  margin-top: 150px;
  display: grid;
  justify-content: center;
  text-align: center; }
  .form-container .form-centered {
    display: grid;
    justify-content: center;
    text-align: center; }
  .form-container .form-centered .input-field {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font: inherit;
    color: #45d045;
    background-color: transparent;
    border: 2px solid #d6d6d6; }
  .form-container .form-centered .input-label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(10px, 10px);
    transform-origin: left;
    transition: transform 0.25s; }
  .form-container .form-centered .input-field:focus-visible ~ .input-label, .form-container .form-centered .input-field:valid ~ .input-label {
    transform: translate(0, -30px) scale(0.8);
    color: #45d045; }
  .form-container .form-centered .input-field:is(:focus-visible, :valid) {
    outline-color: #45d045; }
  .form-container .form-centered .SubmitButton {
    background-color: #45d045;
    border: none;
    padding: 10px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    transition: 0.5s; }
  .form-container .form-centered .SubmitButton:hover {
    opacity: 0.6; }
  .form-container .form-centered p {
    display: grid;
    text-align: center;
    justify-content: center; }

/* form centered fim */
/* user view */
.fa-lock:hover {
  color: aqua;
  font-size: 30px; }

/* user-cart inicio */
.cart-container {
  margin-top: 25vh; }
  .cart-container .cart-user-container {
    display: grid;
    justify-content: center; }
    .cart-container .cart-user-container h1 {
      padding-bottom: 2vh; }
    .cart-container .cart-user-container .items {
      display: grid;
      justify-content: space-evenly; }

/* user-cart fim */
/* atendimento body style */
.atendimento-container {
  display: grid;
  justify-items: center;
  justify-content: center;
  align-content: center;
  margin-top: 130px; }
  .atendimento-container .atendimento-text-container {
    grid-template-rows: auto, auto; }
  .atendimento-container .top-title {
    color: #45d045;
    font-size: 45px; }
  .atendimento-container .information-container {
    justify-content: center;
    margin: 30px;
    display: grid;
    text-align: center; }
    .atendimento-container .information-container h4 {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      font-size: larger; }
    .atendimento-container .information-container p {
      font-size: medium; }
  .atendimento-container .atendimento-form-container {
    max-width: 100%; }
    .atendimento-container .atendimento-form-container form {
      display: grid;
      justify-content: center;
      margin-top: 80px; }
      .atendimento-container .atendimento-form-container form p {
        margin-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center; }
        .atendimento-container .atendimento-form-container form p i {
          margin-left: 8px;
          color: #45d045; }
        .atendimento-container .atendimento-form-container form p i:hover {
          color: #299829;
          transform: translateY(-2px); }
      .atendimento-container .atendimento-form-container form .input {
        position: relative;
        width: 300px;
        margin-bottom: 30px; }
        .atendimento-container .atendimento-form-container form .input .input-field {
          width: 300px;
          padding: 15px;
          border-radius: 4px;
          font: inherit;
          color: #45d045;
          background-color: transparent;
          border: 2px solid #d6d6d6; }
        .atendimento-container .atendimento-form-container form .input .input-label {
          position: absolute;
          top: 0;
          left: 0;
          transform: translate(10px, 10px);
          transform-origin: left;
          transition: transform 0.25s; }
          .atendimento-container .atendimento-form-container form .input .input-label span {
            user-select: none;
            -moz-user-select: none;
            /* Firefox */
            -ms-user-select: none;
            /* Internet Explorer */
            -webkit-user-select: none;
            /* Safari */ }
        .atendimento-container .atendimento-form-container form .input .date-input-field {
          width: 300px;
          padding: 15px;
          border: 2px solid #d6d6d6;
          border-radius: 4px;
          outline: none;
          transition: 0.5s; }
        .atendimento-container .atendimento-form-container form .input .date-input-field:focus {
          outline: none;
          border: 1px solid aqua; }
        .atendimento-container .atendimento-form-container form .input .select-input {
          width: 300px;
          padding: 15px;
          border: none;
          outline: none;
          transition: 0.5s;
          background-color: gainsboro; }
        .atendimento-container .atendimento-form-container form .input .select-input:focus {
          outline: none;
          border: 2px solid aqua; }
        .atendimento-container .atendimento-form-container form .input .check-box input[type="checkbox"] {
          display: none; }
        .atendimento-container .atendimento-form-container form .input .check-box label:before {
          content: "";
          display: inline-block;
          width: 20px;
          height: 20px;
          background-color: grey;
          border: 2px solid #45d045;
          border-radius: 3px;
          cursor: pointer; }
        .atendimento-container .atendimento-form-container form .input .check-box input[type="checkbox"]:checked + label:before {
          background-color: #45d045;
          /* Cor de fundo quando marcado */
          border: 2px solid #fafafa; }
      .atendimento-container .atendimento-form-container form .input-field:focus-visible ~ .input-label,
      .atendimento-container .atendimento-form-container form .input-field:valid ~ .input-label {
        transform: translate(0, -30px) scale(0.8);
        color: #45d045; }
      .atendimento-container .atendimento-form-container form .input-field:is(:focus-visible, :valid) {
        outline-color: #45d045; }
    .atendimento-container .atendimento-form-container .SubmitButton {
      background-color: #45d045;
      border: none;
      padding: 10px;
      text-decoration: none;
      cursor: pointer;
      border-radius: 5px;
      width: 100%;
      transition: 0.5s; }
    .atendimento-container .atendimento-form-container .SubmitButton:hover {
      opacity: 0.6; }

@media (max-width: 540px) {
  .atendimento-container {
    margin-top: 300px; }
    .atendimento-container .atendimento-form-container {
      margin-top: 10px; }
    .atendimento-container .information-container {
      margin: 10px; }
  .pedosite {
    margin-top: 0px; }
    .pedosite div adrres {
      padding-left: 5px; }
    .pedosite div {
      margin: 3px; } }

@media (max-width: 912px) {
  .form-container {
    max-width: 100%;
    margin-top: 350px; } }

@media (max-width: 412px) {
  .input {
    max-width: 350px; } }

@media (max-width: 400px) {
  .input {
    max-width: 100%; }
    .input .input-field {
      max-width: 100%; } }
