{% extends 'base.html' %}

{% block basebody %}

{% load static %}
    <link rel="stylesheet" href="{% static 'headstyle.css' %}">
<header>
<nav>
    <a class="logo" href="">Meu Melhor Amigo</a>
    <div>
        <ul class="nav-list">
            <div class="dropdown">
            <li><button class="button">Rações</button></li>
                <div class="content">
                    <p>Para:</p>
                    <a href="">Cachorro</a>
                    <a href="">Gato</a>
                    <a href="">Pássaros</a>
                    <a href="">Peixe</a>

                </div>
            </div>
            <div class="dropdown">
            <li><button class="button">Banho e Tosa</button></li>
                <div class="content">
                    <button class="button">Cachorro</button>
                        <a href="">Porte Grande</a>
                        <a href="">Porte Médio</a>
                        <a href="">Porte Pequeno</a>
                    <button class="button">Gato</button>
                        <a href="">Porte Médio</a>
                        <a href="">Porte Pequeno</a>
                </div>
            </div>
            <div class="dropdown">
            <li><button class="button">Limpeza</button></li>
                <div class="content">
                    <button class="button">Cachorro</button>
                        <a href=""></a>
                </div>
            </div>
            <li><a href="">Contato</a></li>
        </ul>
    </div>
</nav>
</header>

{% endblock %}