{% extends 'index/base.html' %} {% block title %} Meu Melhor Amigo {% endblock%} 
{% block content %} {% load static %}

<link rel="stylesheet" href="{% static 'index/style.css' %}" />
<div class="all">
  <div class="display-center">
    <h1>Sobre nos</h1>
    <div class="paragrafo">
      <p>
        <img class="FotoAbout" src="{% static 'index/fotoaboutsu.png' %}" alt="">
        
            No Petshop "Melhor Amigo", nós entendemos que seu animal de estimação é
          mais do que apenas um bichinho, é um membro especial da sua família. Com
          isso em mente, estamos comprometidos em fornecer cuidados excepcionais e
          serviços de alta qualidade para garantir que seu melhor amigo tenha uma
          vida feliz e saudável. <br> 
      </p>
      <p>
            Com uma equipe dedicada e apaixonada por animais,
          nossos profissionais treinados estão prontos para oferecer os melhores
          cuidados para o seu pet. Desde serviços de tosa profissional, onde
          deixaremos seu animalzinho com um visual impecável, até a limpeza e
          higienização completa, proporcionamos um ambiente seguro e tranquilo
          para que seu amigo se sinta confortável durante todo o processo. <br> 
      </p>
      <p>
            Sabemos que a alimentação é fundamental para a saúde do seu pet, por isso
          oferecemos uma ampla variedade de rações de alta qualidade e alimentos
          balanceados, adaptados às necessidades individuais de cada animal.
          Nossos especialistas estão disponíveis para fornecer orientação
          personalizada e ajudálo a escolher a melhor opção para o seu amiguinho. <br>
      </p>
      <p>
            No Petshop "Melhor Amigo", também acreditamos na importância da
          socialização e diversão para o bem-estar dos animais. Por isso,
          oferecemos momentos especiais de brincadeiras e interação em nosso
          espaço dedicado, garantindo que seu pet se divirta e faça novos amigos. <br>
      </p>
      <p>
            Além disso, temos uma ampla variedade de brinquedos e acessórios para
          enriquecer a vida do seu animalzinho. Nossa galeria de fotos é o reflexo
          do nosso amor e cuidado pelos animais. Lá, você poderá ver alguns dos
          adoráveis clientes que já passaram pelo nosso petshop. É um verdadeiro
          prazer atender a cada um deles e contribuir para o seu bem-estar e
          felicidade. <br>
      </p>
      <p>
            Estamos ansiosos para conhecê-lo e ao seu melhor amigo!
          Visite-nos no Petshop "Melhor Amigo" e descubra a diferença que fazemos
          na vida dos animais de estimação. Entre em contato conosco por telefone,
          e-mail ou através do nosso formulário de contato no nosso site. Seu pet merece o melhor, e nós
          estamos aqui para fornecer exatamente isso. Confie no Petshop "Melhor
          Amigo" para cuidar do seu melhor amigo como se fosse nosso próprio. <br>

      </p>
     
      <h4>
        Produtos ofertados pelo Petshop:
      </h4>
      <p> 
        1. Ração Premium: No Petshop "Melhor Amigo", oferecemos uma seleção
        de rações premium para cães e gatos. Essas rações são formuladas com
        ingredientes de alta qualidade, garantindo uma nutrição balanceada e
        adequada para o seu pet. Temos opções para diferentes idades, raças e
        necessidades específicas, proporcionando uma dieta saudável e saborosa
        para o seu melhor amigo.
        <br>
      </p>
      <p> 
        2. Serviço de Tosa Especializada: Proporcionamos serviços profissionais de
        tosa para cães de todas as raças. Nossos tosadores experientes e
        qualificados utilizam técnicas avançadas para garantir que seu pet tenha
        um visual impecável. Além de cortes de pelos personalizados, também
        realizamos higienização e cuidados especiais, como limpeza de ouvidos e
        corte de unhas, deixando seu cãozinho limpo e bem cuidado.
        <br>
      </p>
      <p>
        3. Banho Relaxante: No Petshop "Melhor Amigo", oferecemos banhos
        relaxantes para cães e gatos. Utilizamos produtos de qualidade, seguros
        e adequados para cada tipo de pelagem, garantindo uma limpeza
        profunda e refrescante. Nossos profissionais carinhosos proporcionam
        um ambiente tranquilo e seguro para que seu pet desfrute de um banho
        agradável, deixando-o com uma pelagem macia, brilhante e cheirosa.
        <br>
      </p>
      <p>
        4. Brinquedos Interativos: Valorizamos o enriquecimento e a diversão dos
        animais, por isso oferecemos uma variedade de brinquedos interativos.
        Esses brinquedos estimulam a mente e o corpo do seu pet, promovendo
        o exercício físico e mental. Desde brinquedos de mastigação duráveis até
        jogos interativos, temos opções para cães e gatos de todos os tamanhos
        e idades, garantindo horas de entretenimento e diversão saudável.
        <br>
      </p>
      <p>
        5. Produtos de Higiene e Cuidados: Na nossa seleção de produtos, você
        encontrará uma gama de itens de higiene e cuidados para o seu pet. Isso
        inclui shampoos e condicionadores específicos para diferentes tipos de
        pelagem, escovas e pentes para manter os pelos desembaraçados e
        saudáveis, produtos de limpeza auricular e ocular, além de acessórios
        essenciais como coleiras, guias e comedouros. Tudo o que você precisa
        para manter seu animalzinho limpo, confortável e bem cuidado.
        <br>
      </p>
      <p>
        Esses são apenas alguns dos produtos disponíveis no Petshop "Melhor Amigo".
        Temos um catálogo completo e diversificado, cuidadosamente selecionado para
        atender às necessidades dos animais de estimação. Nossa equipe terá prazer 
      </p>
    </div>
  </div>
</div>
{% endblock %}
