<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link
      rel="shortcut icon"
      href="{% static 'index/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'index/style.css'%}">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %} Default title {% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="top-container">
        <div class="top-bar">
          <!--   Home/home -->
          <a href="{% url 'home:home' %}">
            home <i class="fa-solid fa-house"></i
          ></a>
          <!-- ABOUT US-->
          <a href="{% url 'home:about' %}"> sobre nos <i class="fa-solid fa-address-card"></i></a>
          <!-- GALERY -->
          <a href="{% url 'home:galeria' %}"> galeria <i class="fa-solid fa-images"></i></a>
          <!-- Contact us-->
          <a href="{% url 'usuarios:atendimento'%}">
            atendimento <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>
      <nav class="navbar">
        <div class="nav-title">
          <a href="">
            <img
              src="{% static 'index/iconeoprincipal.png' %}"
              alt="iconeoprincipal"
              height="100px"
            />
          </a>
        </div>
        <div class="nav-icons-container">
          <a href="{% url 'usuarios:login' %}" class="nav-icon">
            <i class="fa-regular fa-user"></i
          ></a>
          <a href="{% url 'loja:carrinho' %}" class="nav-icon">
            <i class="fa-solid fa-bag-shopping"></i
          ></a>
        </div>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
