<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link
      rel="shortcut icon"
      href="{% static 'usuarios/favicon.ico' %}"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="{% static 'index/style.css' %}" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>
    <title>{% block title %} Default title {% endblock %}</title>
  </head>
  <body>
    <header>
      <div class="top-container">
        <div class="top-bar">
          <!--   Home/home -->
          <a href="{% url 'home:home' %}">
            home <i class="fa-solid fa-house"></i
          ></a>
          <!-- ABOUT US-->
          <a href="{% url 'home:about' %}"> sobre nos <i class="fa-solid fa-address-card"></i></a>
          <!-- GALERY -->
          <a href=""> galeria <i class="fa-solid fa-images"></i></a>
          <!-- Contact us-->
          <a href="{% url 'usuarios:atendimento'%}">
            atendimento <i class="fa-solid fa-envelope"></i>
          </a>
        </div>
      </div>
      <nav class="navnav">
        <div>
          <a href="">
            <img
              src="{% static 'usuarios/logosmall.png' %}"
              alt="iconeoprincipal"
              height="100px"
            />
          </a>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" for="button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Rações
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="">Cães &raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a class="dropdown-item" href="">Ração Seca</a></li>
                <li><a class="dropdown-item" href="">Ração Úmida</a></li>
                <li><a class="dropdown-item" href="">Ração Prescrita</a></li>
                <li><a class="dropdown-item" href="">Ração Natural</a></li>
            </li>
              </ul>
            <li><a class="dropdown-item" href="">Felinos&raquo;</a>
               <ul class="dropdown-menu dropdown-submenu">
                <li><a class="dropdown-item" href="">Ração Seca</a></li>
                <li><a class="dropdown-item" href="">Ração Úmida</a></li>
                <li><a class="dropdown-item" href="">Ração Prescrita</a></li>
                <li><a class="dropdown-item" href="">Ração Natural</a></li>
               </ul>
            </li>   
            <li><a class="dropdown-item" href="">Roedores&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a class="dropdown-item" href="">Ração Super Premium</a></li>
                <li><a class="dropdown-item" href="">Ração Premium Especial</a></li>
                <li><a class="dropdown-item" href="">Ração Premium</a></li>
              </ul>
            </li>
            <li><a class="dropdown-item" href="">Aquáticos&raquo;</a>
              <ul class=" dropdown-menu dropdown-submenu">
                <li><a class="dropdown-item" href="">Ração Granulada</a></li>
                <li><a class="dropdown-item" href="">Ração Liofilizada</a></li>
                <li><a class="dropdown-item" href="">Ração Em comprimidos</a></li>
              </ul>              
            </li>
            <li><a class="dropdown-item" href="">Pássaros&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a class="dropdown-item" href="">Alpiste</a></li>
                <li><a class="dropdown-item" href="">Girassol</a></li>
                <li><a class="dropdown-item" href="">Painço</a></li>
                <li><a class="dropdown-item" href="">Aveia</a></li>
                <li><a class="dropdown-item" href="">Linhaça</a></li>
              </ul>
            </li>
              </ul>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Tosa</button>
          <ul class="dropdown-menu">
            <li><a href="" class="dropdown-item">Cães&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a href="" class="dropdown-item">Porte Grande</a></li>
                <li><a href="" class="dropdown-item">Porte Médio</a></li>
                <li><a href="" class="dropdown-item">Porte Pequeno</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Banho</button>
          <ul class="dropdown-menu">
            <li><a href="" class="dropdown-item">Cães&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a href="" class="dropdown-item">Porte Grande</a></li>
                <li><a href="" class="dropdown-item">Porte Médio</a></li>
                <li><a href="" class="dropdown-item">Porte Pequeno</a></li>
              </ul>
            </li>
            <li><a href="" class="dropdown-item">Felinos&raquo;</a>
              <ul class="dropdown-menu dropdown-submenu">
                <li><a href="" class="dropdown-item">Porte Médio</a></li>
                <li><a href="" class="dropdown-item">Porte Pequeno</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="dropdown">
          <a href="loja/"><button class="btn btn-primary dropdown-toggle">Produtos</button></a>
        </div>
        <div class="nav-icons">
          <a href="{% url 'usuarios:login' %}" class="nav-icon">
            <i class="fa-regular fa-user"></i
          ></a>
          <a href="{% url 'loja:carrinho' %}" class="nav-icon">
            <i class="fa-solid fa-bag-shopping"></i
          ></a>
        </div>
      </nav>
      <!-- DROPDOWN HERE! RATO DESGRACADO -->
    </header>

    {% block content %} {% endblock %}
    <hr />
  </body>


  <footer class="pedosite">
    <div>
      <address>
        R. Melhores Amigos, 333 - Savassi <br />
        Belo Horizonte - MG, 3333333-333
      </address>
      <p>(31)-999999-9999</p>
      <div class="emailcontainer">
        <i class="fa-solid fa-envelope"></i>
        <span>meumelhoramigopetshop@melhor.amigo.com.br</span>
        <button><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
    <div class="author">
      Author: Diego Cheib / Roberto Fernandino <br />
      &copy; Copyright Reserved <br />
      <div class="emailcontainer">
        <i class="fa-solid fa-envelope"></i>
        <span> diegocheib@gmail.com</span>
        <button><i class="fa-regular fa-copy"></i></button>
      </div>
      <div class="emailcontainer">
        <i class="fa-solid fa-envelope"></i>
        <span> romfernandno@gmail.com </span>
        <button><i class="fa-regular fa-copy"></i></button>
      </div>
    </div>
  </footer>
</html>
