{% extends 'index/base.html' %} {% block title %} Meu Melhor Amigo  {% endblock %}
{% block content %}

<div class="slideshow">
  <div class="slider">
    <div class="slides">
      <!--    radio buttons-->
      <input type="radio" name="radio-btn" , id="radio1" />
      <input type="radio" name="radio-btn" , id="radio2" />
      <input type="radio" name="radio-btn" , id="radio3" />
      <input type="radio" name="radio-btn" , id="radio4" />
      <!--    slides images-->
      <div class="slide-first"></div>
    </div>
  </div>
</div>

{% endblock %}
