{% extends 'index/base.html' %} {% block title %} Shop {% endblock %} 
{% block content %}
{% load static %} 
<hr>  
{% load my_filters %}
<link rel="stylesheet" href="{% static 'loja/style.css' %}" />
<div class="container">
  <form  method="get" action="{% url 'loja:loja'%}" class="shopform">
    <label for="categoria">Categoria:</label>
    <select name="categoria" class="categoria">
      <option value="">Todas</option>
      {% for categoria in categorias %}
      <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
      {% endfor %}
    </select>
    <label for="preco">Preco Maximo:</label>
    <input type="number" name="preco_max" step="0.1" class="input">
    <label for="nome">Nome:</label>
    <input type="text" name="nome" class="input">
    <button type="submit" class="filterbutton">Filtrar</button>
  </form>
  <h2>Produtos</h2>
  <div class="row">
    {% if produtos %}
    {% for produto in produtos %}
    <div class="col-md-3">
      <div class="card">
        <img
          src="{{ produto.img.url }}"
          alt="{{ produto.nome }}"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ produto.nome }}</h5>
          <p class="card-text">{{ produto.descricao }}</p>
          <p class="card-price">R$ {{ produto.preco_em_real }}</p>
          <form method="post" action="{% url 'loja:add-cart' produto.id %}">
            {% csrf_token %}
            {% if produto.estoque != 0 %}
            <select name="quantidade" class="quantidade">
                {% for qtd in produto.estoque|times %}
                <option value="{{ qtd }}">{{ qtd }}</option>
                {% endfor %}
                <option value="0">Sem estoque</option>
              </select>
            {% else %}
            <p> Sem estoque </p>
            {% endif %}
            <button type="submit" class="add-to-cart"> <i class="fa-solid fa-cart-shopping"></i></button>
          </form>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    <div>
      <h5>Produto nao encontrado {% if nome %} <strong>{{ nome }}</strong> {% endif %}  {% if preco %} Nenhum produto com valor menor a R${{ preco }} {% endif %}</h5>
    </div>
  {% endif %}
  </div>
</div>
{% endblock %}

