{% extends 'usuarios/base.html' %} {% block title%} Atendimento {% endblock %}
{% block content %}
<div class="atendimento-container">
  <h1 class="top-title">Atendimento</h1>
  <div class="information-container">
    <h4>
      Caso tenha alguma duvida ou algo pendente a ser resolvido preencha este
      formulario com suas informacoes que entraremos em contato.
    </h4>
    <br>
    <h5>
      Aqui no Meu Melhor Amigo presamos nao so pelo seu pet mas pelo
      comprometimento com seus donos!
    </p>
  </div>
  <div class="atendimento-form-container">
    <form action="{% url 'usuarios:atendimento'%}"></form>
    {% csrf_token %}
    <div class="input">
      <input type="text" name="nome" class="input-field" required/>
      <label class="input-label" for="nome">Nome</label>
    </div>
    <div class="input">
      <input type="email" name="email" class="input-field" required/>
      <label class="input-label" for="email">Email</label>
    </div>
    <div class="input">
      <input type="text" name="assunto" class="input-field">
      <label class="input-label" for="assunto">Assunto</label>
    </div>
    <div class="input">
      <textarea name="mensagem" class="input-field" rows="6"></textarea>
      <label class="input-label" for="mensagem">Mensagem</label>
    </div>
    <button class="SubmitButton" type="submit">Enviar</button>
  </div>
</div>
{% endblock %}
