{% extends 'index/base.html' %} {% block title %} Atendimento {% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}">

<div class="atendimento-container">
  <h1 class="top-title">Atendimento</h1>
  <div class="information-container">
    <h4>
      Caso tenha alguma duvida ou algo pendente a ser resolvido preencha este
      formulario com suas informacoes que entraremos em contato.
    </h4>
    <br />
    <p>
      Aqui no Meu Melhor Amigo presamos nao so pelo seu pet mas pelo
      comprometimento com seus donos!
    </p>
    {% if form.errors %}
    <div class="message">
      <div class="alert alert-danger" style="margin-bottom: 70px;">
        {{ form.errors }}
      </div>
    </div>
    {% endif %}
  </div>
  <div class="atendimento-form-container">
    <form action="{% url 'usuarios:atendimento'%}" method="post">
      {% csrf_token %}
      <div class="input">
        {{ form.nome }}
        <label class="input-label" for="nome">
          <span>Nome</span>
        </label>
      </div>
      <div class="input">
        {{ form.email }}
        <label class="input-label" for="email"><span>Email</span></label>
      </div>
      <div class="input">
        {{ form.phone }}
        <label class="input-label" for="tel"><span>Telefone</span></label>
      </div>
      <div class="input">
      {{ form.assunto }}
        <label class="input-label" for="assunto"><span>Assunto</span></label>
      </div>
      <div class="input">
        {{ form.message }}
        <label class="input-label" for="mensagem"><span>Mensagem</span></label>
      </div>
      <div class="input">
        {{ form.is_newsletter }}
        <span>
          Deseja receber emails de newsletter?
        </span>
      </div>
      <button class="SubmitButton" type="submit">Enviar</button>
    </form>
  </div>
</div>
{% endblock %}