{% extends 'index/base.html' %}
{% block title %} Carrinho {% endblock %}
{% block content %}

{% load static %}
{% load my_filters %}
<link rel="stylesheet" href="{% static 'usuarios/style.css' %}">
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<script>
    const decreaseButtons = document.querySelectorAll('.decreaseButton');
      const increaseButtons = document.querySelectorAll('.increaseButton');
      const quantitySelectors = document.querySelectorAll('.quantidadeSelect');
  
      decreaseButtons.forEach((button, index) => {
          button.addEventListener('click', () => {
              const currentValue = parseInt(quantitySelectors[index].value);
              if (currentValue > 1) {
                  quantitySelectors[index].value = (currentValue - 1).toString();
              }
          });
      });
  
      increaseButtons.forEach((button, index) => {
          button.addEventListener('click', () => {
              const currentValue = parseInt(quantitySelectors[index].value);
              quantitySelectors[index].value = (currentValue + 1).toString();
          });
      });
  </script>
<div class="cart-container">
    <div class="cart-user-container">
        <h1 class="username">Carrinho de {{ request.user }}</h1>
        {% if items %}
        <div class="items">
            <section>
                <table> <!-- Criando a tabela do carrinho front User-->
                    <thead> <!-- Cabeçalho da tabela do carrinho front User-->
                        <tr> <!-- Sub-Titulos da tabela, carrinho front user-->
                            <th>Produtos</th>
                            <th>Preço</th>
                            <th>Quantidade</th>
                            <th>Total</th>
                        </tr>
                        {% for item in items %}
                            {% if item.quantidade > 0 %}
                            </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <div class="product">
                                            <img src="{{ item.produto.img.url }}" alt="{{ item.produto.nome }}">
                                            <div class="info">
                                                <div class="nomeproduto">{{ item.produto.nome }}</div>
                                                <div class="categoria">{{ item.produto.category }}</div>
                                            </div>
                                        </div>
                                    </td>
                        </h1>
                        <td>R${{ item.produto.preco_em_real }} </td>
                        <td>
                            <div class="qntd">
                                <form  method="post" action="{% url 'loja:remove-cart' item.produto.id %}">
                                    {% csrf_token %}
                                    <button id="decreaseButton" type="submit">-</button>
                                </form>
                                <span>{{ item.quantidade }}</span>
                                <form method="post" action="{% url 'loja:add-cart' item.produto.id %}">
                                    {% csrf_token %}
                                    <button id="increaseButton" type="submit">+</button>
                                </form>
                            </div>
                        </td>
                        <td>R${{ item.total_price_items }}</td>
                        <td class="removeitem">
                            <form method="post" action="{% url 'loja:remove-all-cart' item.produto.id %}">
                                {% csrf_token %}
                                <button class="deleteitem" type="submit"><i class='bx bxs-trash'></i></button>
                            </form>
                        </td>
                    </tr>
                    
                    {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </section>
            <aside>
                <div class="box">
                    <header>Resumo da Compra</header>
                    <div class="info">
                        <div><span>Sub-Total</span><span></span>R${{ cart.calculate_total_price_real }}</div>
                        <div><span>Frete</span><span></span>Gratuito</div>
                    </div>
                    <footer>
                        <span>Total</span>
                        <span>R${{ cart.calculate_total_price_real }}</span>
                    </footer>
                </div>{% if cart.calculate_total_price_real != 0 %}
                <a href="">
                    <button type="submit">Checkout</button>
                </a>
                    {% else %}
            <a href="{% url 'loja:loja' %}">
            <button class="btn btn-success"> Shop
            </button>
        </a> 
        {% endif %}
    </aside>
 
                    {% if cart.calculate_total_price_real == 0 %}
                    <div class="items">
                        <h1>Nenhum item no carrinho</h1>
                    </div>
                    {% endif %}            
        </div>
                    {% else %}
                    <div class="items">
                    <h1>Nenhum item no carrinho</h1>
                    </div>
                    {% endif %}


    </div>
</div>

{% endblock %}