{% extends 'index/base.html' %} {%block title%} Login {%endblock%} 
{% block content %} 

<link rel="stylesheet" href="usuarios/style.css">

<div class="atendimento-container">
  {% if message %}
  <div class="alert alert-danger">{{message}}</div>
  {% endif %}
  <form action="{% url 'usuarios:login' %}" method="POST" class="form-centered">
    {% csrf_token %}
    <label for="email">Email</label>
    <input type="email" name="email" maxlength="150" required />
    <label for="password">password</label>
    <input
      type="password"
      name="password"
      maxlength="50"
      minlength="8"
      required
    />
    <input type="submit" value="Login">
    
  </form>
</div>
{% endblock %}