{% extends 'index/base.html' %} {% block title %} signup {% endblock %} 

{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'usuarios/style.css' %}">
<div class="atendimento-container">
  <div class="atendimento-form-container">
    {% if form.errors %}
    <div class="message">
      <div class="alert alert-danger" style="margin-bottom: 70px;">
        {{ form.errors }}
      </div>
    </div>
    {% endif %}
    <form action="{% url 'usuarios:signup' %}" method="POST">
      {% csrf_token %}
      <div class="input">
        {{ form.email }}
        <label class="input-label" for="email">
          <span>Email:</span>
        </label>
      </div>
      <div class="input">
        {{ form.username }}
        <label class="input-label" for="username">
          <span>
            Nome:
          </span>
      </label>
      </div>
      <div class="input">
        {{ form.password1 }}
        <label class="input-label" for="password1"><span>
          Senha:</span>
        </label>
      </div>
      <div class="input">
        {{ form.password2 }}
        <label class="input-label" for="password2">
          <span>Confirmacao de senha:</span>
        </label>
      </div>
      <div class="input">
        <label  for="data_nascimento"><span>
          Data de Nascimento:</span>
        </label>
        {{ form.data_nascimento }}
      </div>
      <div class="input">
        {{ form.cpf }}
        <label class="input-label" for="cpf">cpf:</label>
      </div>
      <input class="SubmitButton" type="submit" value="cadastrar">
    </form>
  </div>
</div>
</form>

{% endblock %}
