{% extends 'index/base.html' %} {% base title %} signup {% endblock %} 

{%block content %}

<form action="{% url 'usuarios:login' %}" method="POST">
  <input type="text" name="name" minlength="3" maxlength="25" required />
  <label for="name">Nome</label>

  <input type="email" name="email" maxlength="150" required />
  <label for="email">Email</label>

  <input
    type="password"
    name="password"
    maxlength="50"
    minlength="8"
    required
  />
  <label for="password">password</label>

  <input
    type="text"
    name="cpf"
    maxlength="14"
    minlength="11"
    pattern="\d{3}.?\d{3}.?\d{3}-?\d{2}"
    required
  />
  <label for="cpf">Cpf</label>

  <input type="date" name="data_nascimento" />
  <label for="date">Data nascimento</label>

  <input type="button" value="enviar" />
</form>

{% endblock %}
